<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.en.cs.zju.edu.cn/" target="_blank">
                        <img src="img/logos/zjucs.jpg" class="img-responsive img-centered"  alt="College of Computer Science, Zhejiang University">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://hic.zju.edu.cn/hicenglish/main.htm" target="_blank">
                        <img src="img/logos/hic-zju.jpg" class="img-responsive img-centered" alt="Hangzhou Innovation Center, Zhejiang University">
                    </a>
                </div>

            </div>
        </div>
    </aside>