<!-- Services Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">The team is committed to explore Knowledge Graphs, Large Language Models and other modern AI technologies to advance scientific discovery.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Knowledge Graphs</h4>
                    <p class="text-muted"> The Knowledge Graphs (KGs) models world knowledge in a graph-like form. It plays important roles in representing knowledge in many scientific domains such as Biology, Chemistry,  etc.  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Large Language Models</h4>
                    <p class="text-muted">The Large Language Model (LLMs) are deep learning models pre-trained on very large-scale corpus, and typically general purpose models that excel at a wide range of tasks.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AGI for Science</h4>
                    <p class="text-muted"> Modern AI technologies are believed to have the potential of transforming the way of scientific discovery. </p>
                </div>
            </div>
        </div>
    </section>