<!-- Services Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">The team is committed to explore Knowledge Graphs, Large Language Models and other modern AI technologies to advance scientific discovery.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Knowledge Graphs</h4>
                    <p class="text-muted"> Knowledge Graphs (KGs) model world knowledge in
                        graph-like forms, and have been widely deployed in modeling scientific
                        knowledge in life sciences, drug discovery,Chemistry etc.  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Large Language Models</h4>
                    <p class="text-muted">Large Language Model (LLMs) such as chatGPT are deep neural network models
                        pre-trained on large-scale corpus, typically with a general purpose
                        that excels at a wide range of tasks. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AGI for Science</h4>
                    <p class="text-muted"> Modern AI technologies are believed to have the
                        potential of transforming the way of scientific discovery. AI-powered copilots
                        would enable more efficient scientific work.
                    </p>
                </div>
            </div>
        </div>
    </section>